<div class="row">

    <div class="col-3">

        <h3>Add reservation</h3>

         

            <div class="col-8">
               
             <form #editForm="ngForm" id="editForm" (ngSubmit)="addReservation(editForm.value)">
                        


                <label class="col-form-label">Choose the number of seats: </label>
                            <input 
                                type="number" 
                                class="form-control ms-1" 
                                style="width: 100px" 
                                
                               name="reservedSeats"  ngModel >
                 
                      
                               <input type = "submit" value = "Reserve flight">
                       </form>
             </div>
        </div>
</div>
